*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.appWrapper {
  background: linear-gradient(0deg, rgb(142, 179, 161), rgba(248, 248, 248, 0)),
    url(https://png.pngtree.com/background/20210710/original/pngtree-plant-flowers-background-design-picture-image_975811.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.copyIcon {
  font-size: 1.5rem;
}

.share {
  margin: 20px 0px;
}
.share-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}
.nav-wrapper ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.active-menu-item {
  color: #fff;
}

ul a {
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  background-color: black;
  color: #f4bf00;
  border-radius: 10px 0px 10px 0px;
  cursor: pointer;
  transition: all 1s ease;
}

ul a:hover {
  background-color: rgb(24, 17, 17);
  padding: 8px 13px;
  color: #fff;
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 577px) and (max-width: 767px) {
}

/* Medium Devices (Laptops, Desktops) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large Devices (Large Laptops, Desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1200px) {
}
