.main{
    background:linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(https://png.pngtree.com/background/20210710/original/pngtree-plant-flowers-background-design-picture-image_975811.jpg);
    background-size: cover;
   background-position: center;
   padding-bottom: 50px;
}




 /* Extra Small Devices (Phones) */
 @media only screen and (max-width: 576px) {
   
 }
 
 /* Small Devices (Tablets) */
 @media only screen and (min-width: 577px) and (max-width: 767px) {
 
   
 }
 
 /* Medium Devices (Laptops, Desktops) */
 @media only screen and (min-width: 768px) and (max-width: 991px) {
 
   
 }
 
 /* Large Devices (Large Laptops, Desktops) */
 @media only screen and (min-width: 992px) and (max-width: 1199px) {
  
   
 }
 
 /* Extra Large Devices (Large Desktops) */
 @media only screen and (min-width: 1200px) {

   
 }
 